<template>
  <footer class="footer">
    <section class="container widgets">
      <article class="widget-information">
        <h3>Información</h3>
        <p><router-link to="/">Empresa</router-link></p>
        <p><router-link to="/estates">Inmuebles</router-link></p>
        <p><router-link to="/contact">Contacto</router-link></p>
        <p><router-link to="/aviso-legal">Aviso Legal</router-link></p>
      </article>
      <article class="widget-estates">
        <h3>Inmuebles</h3>
        <p>Venta</p>
        <p>Alquiler</p>
      </article>
      <article class="widget-contact">
        <h3>Contacto</h3>
        <p>Calle Julio Urquijo, 1 - (Deusto)</p>
        <p>48014 BILBAO (BIZKAIA</p>
        <p>94 475 27 07</p>
        <p>bidarteinmobiliaria@gmail.com</p>
        <div class="widget-social-networks">
          <a :href="facebook" target="_blank"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a :href="twitter" target="_blank"><i class="fab fa-twitter"></i></a>
          <a :href="instagram" target="_blank"
            ><i class="fab fa-instagram-square"></i
          ></a>
        </div>
      </article>
    </section>

    <p class="copyright">
      Derechos Reservados Inmobiliaria Bidarte {{ today.getFullYear() }}
    </p>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {
      today: new Date(),
      facebook: 'https://www.facebook.com',
      twitter: 'https://twitter.com',
      instagram: 'https://instagram.com'
    }
  }
}
</script>

<style lang="scss" scoped>
.footer {
  background-color: $primaryColor;
  margin-top: 2rem;
  color: $lightGray;
  padding: 1.5rem;
  p {
    text-align: center;
  }
}

.widget-information,
.widget-estates,
.widget-contact {
  margin-bottom: 1.3rem;
  font-size: 1.4rem;
}

.widget-social-networks {
  display: flex;
  justify-content: center;
  i {
    margin-right: 1rem;
    font-size: 1.6rem;
  }
}

.copyright {
  font-size: 1.3rem;
  margin-bottom: 0;
}

@include desktop {
  .widgets {
    display: flex;
    justify-content: space-around;
  }
}
</style>
