<template>
  <header id="header" class="header">
    <article class="topbar">
      <div class="topbar__icon">
        <i class="fas fa-phone-square-alt"></i>
        <span>94 475 27 07</span>
      </div>
      <div class="topbar__icon">
        <i class="fas fa-at"></i>
        <span>bidarteinmobiliaria@gmail.com</span>
      </div>
      <div class="topbar__icon">
        <i class="fas fa-map-marker-alt"></i>
        <span>Julio Urquijo, 1 - (Deusto) - 48014 BILBAO (BIZKAIA)</span>
      </div>
      <div class="widget-social-networks">
        <a :href="facebook" target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a :href="twitter" target="_blank"><i class="fab fa-twitter"></i></a>
        <a :href="instagram" target="_blank"
          ><i class="fab fa-instagram-square"></i
        ></a>
      </div>
    </article>
    <article
      class="nav-toggle"
      @click="navOpen = !navOpen"
      :class="{ active: navOpen }"
    >
      <i class="fas fa-bars"></i>
    </article>
    <article class="logo">
      <router-link to="/">
        <img src="@/assets/img/logo-bidarte.png" alt="web logo" />
      </router-link>
    </article>

    <article class="menu" v-show="navOpen">
      <router-link to="/">Empresa</router-link>
      <router-link to="/estates">Inmuebles</router-link>
      <router-link to="/contact">Contacto</router-link>
    </article>
  </header>
</template>

<script>
export default {
  name: 'Header',
  data() {
    return {
      navOpen: true,
      facebook: 'https://www.facebook.com',
      twitter: 'https://twitter.com',
      instagram: 'https://instagram.com'
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  margin-bottom: 2rem;
}
.topbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $primaryColor;
  padding: 1rem 6rem;
  color: $lightGray;
  font-size: 1.2rem;
  display: none;
  width: 100%;

  & .topbar__icon {
    margin-right: 1.5rem;
  }

  i {
    font-size: 1.6rem;
    margin-right: 0.6rem;
  }
}

@include desktop {
  .topbar {
    display: flex;
    flex-direction: row;
    margin-right: 1.5rem;
  }
}

.nav-toggle {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  i {
    padding-right: 1rem;
    text-align: center;
    font-size: 2.5rem;
  }
}

@include desktop {
  .nav-toggle {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  img {
    width: 200px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
  a {
    background-color: $primaryColor;
    color: $lightGray;
    &.router-link-exact-active {
      background-color: $tertiaryColor;
      color: $lightGray;
    }
    &:hover {
      background-color: $tertiaryColor;
      color: $lightGray;
    }
  }
}

@include desktop {
  .logo {
    img {
      width: 250px;
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    background-color: $primaryColor;
    width: 100%;
    padding-left: 6rem;
    height: auto;

    a {
      margin-right: 1.5rem;
      padding: 2rem;
    }
  }
}
</style>
