<template>
  <div id="estate-create">
    <h1>Añadir Inmueble</h1>
    <section class="add-estate">
      <article class="img-upload">
        <image-uploader
          :preview="true"
          :className="['fileinput', { 'fileinput--loaded': estate.hasImage }]"
          capture="environment"
          :debug="1"
          doNotResize="gif"
          :autoRotate="true"
          outputFormat="verbose"
          @input="setImage"
        >
          <label for="fileInput" slot="upload-label" v-if="false">
            <figure>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
              >
                <path
                  class="path1"
                  d="M9.5 19c0 3.59 2.91 6.5 6.5 6.5s6.5-2.91 6.5-6.5-2.91-6.5-6.5-6.5-6.5 2.91-6.5 6.5zM30 8h-7c-0.5-2-1-4-3-4h-8c-2 0-2.5 2-3 4h-7c-1.1 0-2 0.9-2 2v18c0 1.1 0.9 2 2 2h28c1.1 0 2-0.9 2-2v-18c0-1.1-0.9-2-2-2zM16 27.875c-4.902 0-8.875-3.973-8.875-8.875s3.973-8.875 8.875-8.875c4.902 0 8.875 3.973 8.875 8.875s-3.973 8.875-8.875 8.875zM30 14h-4v-2h4v2z"
                />
              </svg>
            </figure>
            <span class="upload-caption">
              {{ estate.hasImage ? 'Replace' : 'Click to upload' }}
            </span>
          </label>
        </image-uploader>
      </article>

      <article class="data-estate">
        <div class="operation radio-button">
          <label for="operation">Operación:</label>
          <input type="radio" value="alquiler" v-model="estate.operation" />
          <span>Alquiler</span>
          <input type="radio" value="venta" v-model="estate.operation" />
          <span>Venta</span>
        </div>

        <div class="type radio-button">
          <label for="operation">Tipo:</label>
          <input type="radio" value="piso" v-model="estate.type" />
          <span>Piso</span>
          <input type="radio" value="garaje" v-model="estate.type" />
          <span>Parcela Garaje</span>
          <input type="radio" value="lonja" v-model="estate.type" />
          <span>Lonja</span>
        </div>

        <div class="province field">
          <label for="province">Provincia</label>
          <input type="text" required id="province" v-model="estate.province" />
        </div>

        <div class="location field">
          <label for="location">Localidad</label>
          <input type="text" required id="location" v-model="estate.location" />
        </div>

        <div class="zone field">
          <label for="zone">Zona</label>
          <input type="text" required id="zone" v-model="estate.zone" />
        </div>

        <div class="rooms field">
          <label for="rooms">Habitaciones</label>
          <input type="number" required id="rooms" v-model="estate.rooms" />
        </div>

        <div class="bathrooms field">
          <label for="bathrooms">Baños</label>
          <input
            type="number"
            required
            id="bathrooms"
            v-model="estate.bathrooms"
          />
        </div>

        <div class="elevator radio-button">
          <label for>Ascensor:</label>
          <input type="radio" value="si" v-model="estate.elevator" />
          <span>Si</span>
          <input type="radio" value="no" v-model="estate.elevator" />
          <span>No</span>
        </div>

        <div class="sqrtfeet field">
          <label for="sqrtfeet">Metros Cuadrados</label>
          <input
            type="number"
            required
            id="sqrtfeet"
            v-model="estate.sqrtfeet"
          />
        </div>
        <div class="internal-features field">
          <label for="internalfeat">Características Internas</label>
          <textarea
            id="internalfeat"
            required
            v-model="estate.internalfeat"
          ></textarea>
        </div>

        <div class="external-features field">
          <label for="externalfeat">Características Externas</label>
          <textarea
            id="externalfeat"
            required
            v-model="estate.externalfeat"
          ></textarea>
        </div>

        <div class="price field">
          <label for="price">Precio</label>
          <input type="number" required id="price" v-model="estate.price" />
        </div>
        <div class="buttons">
          <button class="btn btaddEstate" @click="uploadNewEstate">
            Añadir Inmueble
          </button>
        </div>
      </article>
    </section>
  </div>
</template>

<script>
import api from '@/api.js'
import ImageUploader from 'vue-image-upload-resize'
export default {
  name: 'EstateCreate',
  components: {
    ImageUploader
  },
  data() {
    return {
      estate: {
        hasImage: false,
        image: null,
        operation: '',
        type: '',
        province: 'Bizkaia',
        location: 'Bilbao',
        zone: '',
        rooms: '',
        bathrooms: '',
        elevator: '',
        sqrtfeet: '',
        externalfeat: '',
        internalfeat: '',
        price: '',
        datecreate: new Date().toLocaleString()
      }
    }
  },
  methods: {
    setImage(output) {
      this.estate.hasImage = true
      this.estate.image = output
    },
    async uploadNewEstate() {
      const estate = this.estate
      await api.uploadNewEstate(estate)
      this.$swal('Inmueble añadido', 'Verifica listado de inmuebles', 'success')
    }
  }
}
</script>

<style lang="scss" scoped>
.add-estate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-estate {
  width: 300px;
  font-size: 1.3rem;
  font-weight: 700;

  & .radio-button {
    display: flex;
    & label {
      margin-right: 0.8rem;
    }
    & .box-type {
      margin-right: 0.6rem;
    }
  }

  & .field {
    display: flex;
    flex-direction: column;
  }
  label {
    color: $tertiaryColor;
  }
  input,
  textarea {
    padding: 1rem;
    border: 1px solid $primaryColor;
    border-radius: 15px;
    margin-bottom: 1rem;
  }
  & .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}

@include desktop {
  .data-estate {
    width: 500px;
  }
}
</style>
