<template>
  <div>
    <h1>Contacto</h1>
    <section class="contact">
      <article class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1452.5832080546763!2d-2.954951841931224!3d43.268889294784074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e503eeca5ea69%3A0x602556ff1b22f850!2sInmobiliaria%20Bidarte!5e0!3m2!1ses!2ses!4v1592208808444!5m2!1ses!2ses"
          width="500"
          height="350"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </article>
      <article class="contact-info">
        <div class="info-company">
          <div class="brand">
            <img src="@/assets/img/logo-bidarte.png" alt="logo" />
          </div>
          <ul>
            <li>94 475 27 07</li>
            <li>bidarteinmobiliaria@gmail.com</li>
            <li>Julio Urquijo, 1 - (Deusto) - 48014 BILBAO (BIZKAIA)</li>
          </ul>
        </div>
        <div class="contact-form">
          <form action="#">
            <div class="contact-nombre field">
              <label for="">Nombre:</label>
              <input type="text" placeholder="nombre" />
            </div>
            <div class="contact-email field">
              <label for="">Apellidos:</label>
              <input type="text" placeholder="E-mail" />
            </div>
            <div class="contact-phone field">
              <label for="">Teléfono:</label>
              <input type="tel" placeholder="phone" />
            </div>
            <div class="contact-email field">
              <label for="">Email:</label>
              <input type="email" placeholder="email" />
            </div>
            <div class="contact-message field">
              <label for="">Comentarios:</label>
              <textarea placeholder="comments"></textarea>
            </div>
            <div class="buttons">
              <button class="btn" type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </article>
    </section>
  </div>
</template>

<script>
export default {
  name: 'ContactPage'
}
</script>

<style lang="scss" scoped>
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  & .map {
    margin-bottom: 2rem;
  }
}

.contact-info {
  border: 1px solid $fourthColor;
  margin-bottom: 1.5rem;
}

@include desktop {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
.info-company {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $fithColor;
  color: $tertiaryColor;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  & .brand {
    width: 150px;
    margin: 0 auto;
  }
}
.contact-form {
  width: 300px;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 auto;

  & .field {
    display: flex;
    flex-direction: column;
  }
  label {
    color: $tertiaryColor;
  }
  input,
  textarea {
    padding: 1rem;
    border: 1px solid $primaryColor;
    border-radius: 15px;
    margin-bottom: 1rem;
  }
  & .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}
</style>
