<template>
  <section class="aviso-legal">
    <h1>Aviso Legal</h1>
    <p>
      De acuerdo con lo dispuesto en la Ley Orgánica 15/99 del 13 de diciembre
      de 1999 sobre Protección de Datos de Carácter Personal, Inmobiliaria
      Bidarte y su sitio web http://www.inmobiliarias-bilbao.es cumple la
      legislación vigente respecto a la protección de datos personales y de
      contacto de sus suscriptores y los mantiene en la más estricta
      confidencialidad.
    </p>
    <p>
      En concordancia con la normativa actualmente vigente en materia de
      protección de datos (LOPD), así como en materia de servicios de la
      sociedad de la información y de comercio electrónico (LSSI-CE), el usuario
      acepta que los datos aportados por medio de esta página web sean
      incorporados a ficheros titularidad de Inmobiliaria Bidarte, con la
      finalidad de facilitar la prestación de los servicios solicitados, así
      como, en su caso, la cesión a terceros para la estricta y exclusiva
      prestación de dichos servicios.
    </p>
    <p>
      Mediante el uso, por parte de usuario, de los formularios de contacto y
      del correo electrónico facilitado en la página web
      http://www.inmobiliarias-bilbao.es, el cliente autoriza expresamente a
      Inmobiliaria Bidarte, al envío de comunicaciones comerciales por correo
      ordinario y/o electrónico, así como al previsible contacto telefónico con
      el fin de ofrecer los servicios ofertados.
    </p>
    <p>
      Inmobiliaria Bidarte, guardará los datos de carácter personal que haya
      recabado y adoptará las medidas necesarias para evitar su alteración,
      pérdida, tratamiento o acceso no autorizados.
    </p>
  </section>
</template>

<script>
export default {
  name: 'AvisoLegal'
}
</script>

<style lang="scss" scoped></style>
