$mainFont: 'Staatliches', cursive;
$textFont: 'Open Sans', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

$primaryColor: #4a6dc1;
$secondaryColor: #2d52b0;
$tertiaryColor: #133895;
$fourthColor: #6c8ad4;
$fithColor: #9ab0e7;

$darkGray: #2f2e2e;
$lightGray: #ebebeb;
$white: #ffffff;
$black: #000000;
