<template>
  <div>
    <h1>Actualizar Inmueble</h1>
    <section class="upload-estate">
      <article class="img-upload">
        <img :src="this.estate.urlphoto" />
        <image-uploader
          :preview="true"
          :className="[
            'fileinput',
            { 'fileinput--loaded': localEstate.hasImage }
          ]"
          capture="environment"
          :debug="1"
          doNotResize="gif"
          :autoRotate="true"
          outputFormat="verbose"
          @input="setImage"
        >
          <label for="fileInput" slot="upload-label" v-if="false">
            <figure>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
              >
                <path
                  class="path1"
                  d="M9.5 19c0 3.59 2.91 6.5 6.5 6.5s6.5-2.91 6.5-6.5-2.91-6.5-6.5-6.5-6.5 2.91-6.5 6.5zM30 8h-7c-0.5-2-1-4-3-4h-8c-2 0-2.5 2-3 4h-7c-1.1 0-2 0.9-2 2v18c0 1.1 0.9 2 2 2h28c1.1 0 2-0.9 2-2v-18c0-1.1-0.9-2-2-2zM16 27.875c-4.902 0-8.875-3.973-8.875-8.875s3.973-8.875 8.875-8.875c4.902 0 8.875 3.973 8.875 8.875s-3.973 8.875-8.875 8.875zM30 14h-4v-2h4v2z"
                />
              </svg>
            </figure>
            <span class="upload-caption">{{
              localEstate.hasImage ? 'Replace' : 'Click to upload'
            }}</span>
          </label>
        </image-uploader>
      </article>
      <article class="edit-estate">
        <div class="operation radio-button">
          <label for="operation">Operación:</label>
          <div class="box-type">
            <input
              type="radio"
              value="alquiler"
              v-model="localEstate.operation"
            />
            <span>Alquiler</span>
          </div>
          <div class="box-type">
            <input type="radio" value="venta" v-model="localEstate.operation" />
            <span>Venta</span>
          </div>
        </div>

        <div class="type radio-button">
          <label for="type">Tipo:</label>

          <div class="box-type">
            <input type="radio" value="piso" v-model="localEstate.type" />
            <span>Piso</span>
          </div>
          <div class="box-type">
            <input type="radio" value="garaje" v-model="localEstate.type" />
            <span>Parcela Garaje</span>
          </div>
          <div class="box-type">
            <input type="radio" value="lonja" v-model="localEstate.type" />
            <span>Lonja</span>
          </div>
        </div>

        <div class="province field">
          <label for="province">Provincia</label>
          <input
            type="text"
            required
            id="province"
            v-model="localEstate.province"
          />
        </div>

        <div class="location field">
          <label for="location">Localidad</label>
          <input
            type="text"
            required
            id="location"
            v-model="localEstate.location"
          />
        </div>

        <div class="zone field">
          <label for="zone">Zona</label>
          <input type="text" required id="zone" v-model="localEstate.zone" />
        </div>

        <div class="rooms field">
          <label for="rooms">Habitaciones</label>
          <input
            type="number"
            required
            id="rooms"
            v-model="localEstate.rooms"
          />
        </div>

        <div class="bathrooms field">
          <label for="bathrooms">Baños</label>
          <input
            type="number"
            required
            id="bathrooms"
            v-model="localEstate.bathrooms"
          />
        </div>

        <div class="elevator radio-button">
          <label for>Ascensor:</label>
          <div class="box-type">
            <input type="radio" value="si" v-model="localEstate.elevator" />
            <span>Si</span>
          </div>
          <div class="box-type">
            <input type="radio" value="no" v-model="localEstate.elevator" />
            <span>No</span>
          </div>
        </div>

        <div class="sqrtfeet field">
          <label for="sqrtfeet">Metros Cuadrados</label>
          <input
            type="number"
            required
            id="sqrtfeet"
            v-model="localEstate.sqrtfeet"
          />
        </div>

        <div class="internal-features field">
          <label for="internalfeat">Características Internas</label>
          <textarea
            id="internalfeat"
            required
            v-model="localEstate.internalfeat"
          ></textarea>
        </div>

        <div class="external-features field">
          <label for="externalfeat">Características Externas</label>
          <textarea
            id="externalfeat"
            required
            v-model="localEstate.externalfeat"
          ></textarea>
        </div>

        <div class="price field">
          <label for="price">Precio</label>
          <input
            type="number"
            required
            id="price"
            v-model="localEstate.price"
          />
        </div>

        <div class="buttons">
          <button class="btn cancel-button" @click="BackEstateDetails">
            Detalles Inmueble
          </button>
          <button class="btn save-button" @click="SaveEstateUpdated">
            Guardar
          </button>
        </div>
      </article>
    </section>
  </div>
</template>

<script>
import ImageUploader from 'vue-image-upload-resize'
export default {
  name: 'EditEstateDetails',
  components: {
    ImageUploader
  },
  props: {
    estate: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      localEstate: {}
    }
  },
  watch: {
    estate: {
      immediate: true,
      handler: function() {
        this.localEstate = JSON.parse(JSON.stringify(this.estate))
      }
    }
  },

  methods: {
    BackEstateDetails() {
      this.$emit('EmitBackEstateDetails')
    },

    SaveEstateUpdated() {
      this.$emit('EmitSaveEstateUpdated', this.localEstate)
    },

    setImage(output) {
      this.localEstate.hasImage = true
      this.localEstate.image = output
    }
  }
}
</script>

<style lang="scss" scoped>
.upload-estate {
  display: flex;
  flex-direction: column;
}
@include desktop {
  .upload-estate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.edit-estate {
  width: 300px;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 auto;

  & .radio-button {
    display: flex;
    & label {
      margin-right: 0.8rem;
    }
    & .box-type {
      margin-right: 0.6rem;
    }
  }

  & .field {
    display: flex;
    flex-direction: column;
  }
  label {
    color: $tertiaryColor;
  }
  input,
  textarea {
    padding: 1rem;
    border: 1px solid $primaryColor;
    border-radius: 15px;
    margin-bottom: 1rem;
  }
  & .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}
</style>
