<template>
  <section class="estate-page">
    <EstateDetails
      v-if="showEstateDetails"
      :estate="estate"
      @emitlinkToEditEstate="linkToEditEstate"
    />
    <EditEstateDetails
      v-if="showEditEstateDetails"
      :estate="estate"
      @EmitBackEstateDetails="linkToEstateDetails"
      @EmitSaveEstateUpdated="saveEstateUpdated"
    />
  </section>
</template>

<script>
import EstateDetails from '@/components/Estate/EstateDetails.vue'
import EditEstateDetails from '@/components/Estate/EditEstateDetails.vue'
import api from '@/api.js'
export default {
  name: 'EstatePage',
  data() {
    return {
      searchedEstate: this.$route.params.id,
      estate: {},
      showEstateDetails: true,
      showEditEstateDetails: false
    }
  },
  components: {
    EstateDetails,
    EditEstateDetails
  },
  mounted() {
    this.putEstateByIdInData()
  },
  methods: {
    async putEstateByIdInData() {
      let idSearchedEstate = this.searchedEstate
      this.estate = await api.getEstatesById(idSearchedEstate)
    },

    hasPhoto(localEstate) {
      if (localEstate.image === undefined) {
        localEstate.image = this.estate.urlphoto
      } else {
        localEstate.image = localEstate.image.dataUrl
      }
    },

    async saveEstateUpdated(localEstate) {
      this.hasPhoto(localEstate)
      let idSearchedEstate = this.searchedEstate
      await api.updateEstate(idSearchedEstate, localEstate)
      this.$swal(
        'Inmueble actualizado correctamente',
        'Verifica listado de inmuebles',
        'success'
      )

      this.putEstateByIdInData()
      this.linkToEstateDetails()
    },

    setImage(output) {
      this.localEstate.hasImage = true
      this.localEstate.image = output
    },

    linkToEditEstate() {
      this.showEstateDetails = false
      this.showEditEstateDetails = true
    },
    linkToEstateDetails() {
      this.showEstateDetails = true
      this.showEditEstateDetails = false
    }
  }
}
</script>

<style scoped></style>
