<template>
  <div class="grid-container">
    <h3 class="title">{{ fullEstate }}</h3>

    <section class="image-form">
      <article class="card-image">
        <img :src="this.estate.urlphoto" />
      </article>
      <article class="price-contact">
        <p>
          <span class="card-price">{{ estate.price | currency }}</span>
        </p>

        <div class="contact-form">
          <form action="#">
            <div class="contact-nombre field">
              <label for="">Nombre:</label>
              <input type="text" placeholder="nombre" />
            </div>
            <div class="contact-email field">
              <label for="">Email:</label>
              <input type="email" placeholder="email" />
            </div>
            <div class="contact-message field">
              <label for="">Comentarios:</label>
              <textarea placeholder="comments"></textarea>
            </div>
            <div class="buttons">
              <button class="btn" type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </article>
    </section>
    <section class="features">
      <article class="main-features">
        <div class="rooms feat">
          <span>{{ estate.rooms }}</span>
          <p class="title-main-feat">habitaciones</p>
        </div>
        <div class="bathrooms feat">
          <span>{{ estate.bathrooms }}</span>
          <p class="title-main-feat">baños</p>
        </div>
        <div class="sqrtfeet feat">
          <span>{{ estate.sqrtfeet }}</span>
          <p class="title-main-feat">m<sup>2</sup></p>
        </div>

        <div class="elevator feat">
          <p class="title-main-feat">ascensor</p>
          <span>{{ estate.elevator }}</span>
        </div>
      </article>

      <article class="feat-ext">
        <h4>Características Externas</h4>
        <p>
          {{ estate.externalfeat }}
        </p>
      </article>

      <article class="feat-int">
        <h4>Características Internas</h4>
        <p>
          {{ estate.internalfeat }}
        </p>
      </article>
    </section>

    <div class="buttons">
      <button class="btn edit-estate" @click="editEstate">Editar</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EstateDetails',
  props: {
    estate: {
      propType: Array,
      required: true
    }
  },
  methods: {
    editEstate() {
      this.$emit('emitlinkToEditEstate')
    }
  },
  computed: {
    fullEstate() {
      return `${this.estate.operation} ${this.estate.type} ${this.estate.location} ${this.estate.zone}`.toUpperCase()
    }
  }
}
</script>

<style lang="scss" scoped>
.image-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-form {
  width: 300px;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 auto;

  & .field {
    display: flex;
    flex-direction: column;
  }
  label {
    color: $tertiaryColor;
  }
  input,
  textarea {
    padding: 1rem;
    border: 1px solid $primaryColor;
    border-radius: 15px;
    margin-bottom: 1rem;
  }
  & .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feat {
  display: flex;
  align-items: center;
  span {
    margin-right: 0.8rem;
    color: $tertiaryColor;
    font-weight: 700;
  }
}

.elevator {
  & .title-main-feat {
    margin-right: 0.8rem;
  }
}

.buttons {
  display: flex;
  justify-content: center;
}

@include desktop {
  .image-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    & .price-contact {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      text-align: center;
    }
  }

  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: flex-start;
  }
}
</style>
