<template>
  <section class="home">
    <article class="hero">
      <img src="@/assets/img/slider-1.jpg" alt="imagen bilbao" />
    </article>
    <article class="parrafo">
      <p>
        <strong>La agencia Inmobiliaria Bidarte</strong> cuenta con una dilatada
        experiencia profesional y un amplio conocimiento del
        <strong>sector inmobiliario</strong>. Localizada en Deusto, en
        <strong>Bilbao (Bizkaia)</strong>, nos encargamos de asesorar y ayudar
        en <strong>venta, compra, promoción o alquiler de inmuebles</strong>.
        Disponemos de gran variedad entre lo que ofrecemos.
        <strong
          >Pisos, lonjas, oficinas, parcelas de garajes, pisos de alquiler más
          económicos</strong
        >, en función de la necesidad de cada comprador. Si precisas de un local
        para tu negocio, también puedes recurrir a nuestro listado de lonjas.
      </p>
    </article>
    <article class="imagen-fachada">
      <img
        src="@/assets/img/fachada-inmobiliaria-bidarte.png"
        alt="fachada inmobiliaria Bidarte"
      />
    </article>
  </section>
</template>

<script>
export default {
  name: 'HomePage'
}
</script>

<style lang="scss" scoped>
.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}
</style>
