<template>
  <div id="app">
    <Header />
    <div class="container">
      <router-view />
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/Layouts/Header.vue'
import Footer from '@/components/Layouts/Footer.vue'
export default {
  name: 'App',
  components: {
    Header,
    Footer
  }
}
</script>

<style lang="scss">
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
h1,
h2,
h3,
h4 {
  font-family: $mainFont;
  margin: 1rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: $primaryColor;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 2.6rem;
  text-align: center;
}
h4 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: var(--primaryColor);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.btn {
  background-color: $secondaryColor;
  color: $lightGray;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.8rem;
  transition: all 0.3s ease;
  &:hover {
    background-color: $white;
    color: $secondaryColor;
  }
}

.card-price {
  background-color: $primaryColor;
  color: $lightGray;
  padding: 0.8rem;
  border-radius: 1.2rem;
}
</style>
