<template>
  <div class="estate-card">
    <h3>{{ fullEstate }}</h3>

    <section class="card">
      <article class="card-image">
        <img :src="this.estate.urlphoto" alt="imagen" />
      </article>

      <p class="card-price">{{ estate.price | currency }}</p>

      <article class="card-body">
        <div class="rooms feat">
          <img src="@/assets/img/icon_5.png" alt="habitaciones" />
          <span>{{ estate.rooms }}</span>
        </div>
        <div class="bathrooms feat">
          <img src="@/assets/img/icon_3.png" alt="baños" />
          <span>{{ estate.bathrooms }}</span>
        </div>
        <div class="sqrtfeet feat">
          <img src="@/assets/img/icon_2.png" alt="metros cuadrados" />
          <span>{{ estate.sqrtfeet }}</span>
        </div>
      </article>

      <div class="card-footer">
        <button class="btn btn-details" @click="estateDetails">Detalles</button>
        <button class="btn btn-delete" @click="deleteEstate">Eliminar</button>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'EstateCard',
  props: {
    estate: {
      propType: Array,
      required: true
    }
  },
  data() {
    return {
      searchedEstateId: this.estate.idestate
    }
  },
  methods: {
    estateDetails() {
      this.$emit('estateDetails', this.searchedEstateId)
    },
    deleteEstate() {
      this.$emit('deleteEstate', this.estate.idestate)
    }
  },

  computed: {
    fullEstate() {
      return `${this.estate.operation} ${this.estate.type} ${this.estate.location} ${this.estate.zone}`.toUpperCase()
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  & .card-body {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    & .feat {
      margin-right: 1.5rem;
      & img {
        margin-right: 0.8rem;
      }
      & span {
        color: $primaryColor;
        font-weight: 700;
      }
    }
  }
}

.btn-delete {
  background-color: red;
  &:hover {
    background-color: $white;
    color: red;
  }
}
</style>
