<template>
  <div id="estate-list">
    <h1>Inmuebles</h1>

    <section class="operation">
      <div class="add-button">
        <router-link class="btn" to="/add-estate">Añadir Inmueble</router-link>
      </div>

      <div class="select-for-estate">
        <input type="radio" value="todos" v-model="operation" />
        <span>Todos</span>
        <input type="radio" value="alquiler" v-model="operation" />
        <span>Alquiler</span>
        <input type="radio" value="venta" v-model="operation" />
        <span>Venta</span>
      </div>
    </section>

    <EstateCard
      v-for="(estate, $index) in filterEstates"
      :key="$index"
      :estate="estate"
      @estateDetails="estateDetails"
      @deleteEstate="deleteEstateFromList"
    />
  </div>
</template>

<script>
import EstateCard from '@/components/EstateList/EstateCard.vue'
import api from '@/api.js'
export default {
  name: 'EstateListPage',
  components: {
    EstateCard
  },
  data() {
    return {
      estates: [],
      operation: 'todos'
    }
  },
  mounted() {
    this.PutResultLoadEstateListInData()
  },
  methods: {
    async PutResultLoadEstateListInData() {
      this.estates = await api.getEstates()
    },

    async deleteEstateFromList(idestate) {
      this.$swal({
        title: '¿Deseas eliminar este inmueble?',
        text: 'Una vez eliminado no se puede recuperar',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí',
        cancelButtonText: 'No'
      })
      await api.deleteEstate(idestate)
      this.PutResultLoadEstateListInData()
      this.$swal({
        title: 'Inmueble Eliminado',
        text: 'Se ha eliminado el inmueble',
        icon: 'success'
      })
    },

    estateDetails(idestate) {
      this.$router.push('/estate/' + idestate)
    }
  },
  computed: {
    filterEstates() {
      if (this.operation === 'todos') {
        return this.estates
      } else {
        return this.estates.filter(estate => {
          return estate.operation === this.operation
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.operation {
  display: flex;
  justify-content: center;
  align-content: center;
  & .add-button {
    font-size: 1.2rem;
    margin-right: 2rem;
    color: $tertiaryColor;
  }
  & .select-for-estate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    input {
      margin-right: 0.2rem;
      &[radio] {
        color: $tertiaryColor;
      }
    }
    span {
      margin-right: 1.2rem;
      color: $tertiaryColor;
      font-weight: 400;
    }
  }
}
</style>
